In [2]:
import sqlite3 as sq

## Create Database

In [3]:
database = sq.connect("test.db")
print("Database Successfuly Created!")

Database Successfuly Created!

## Perform the query

In [11]:
database.execute('''
CREATE TABLE table_name(
    Name char(100),
    Age int
);
 ''')

In [18]:
database.execute("INSERT INTO table_name VALUES('Keyur', 03);")
database.execute("INSERT INTO table_name VALUES('yatree', 14);")
database.execute("INSERT INTO table_name VALUES('prachi', 12);")

In [22]:
data = database.execute("select * from table_name;")
for i in data:
    print(i)

('Keyur', 3)
('yatree', 14)
('prachi', 12)